* text=auto
*.typ text eol=lf
*.md text eol=lf
*.cmd text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
.python-version text eol=lf
ccvl text eol=lf
justfile text eol=lf

*.pdf binary
*.doc binary
*.docx binary
*.odt binary
*.pptx binary
*.xlsx binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.svg binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.zip binary
