* text=auto
*.typ text eol=lf
*.md text eol=lf
justfile text eol=lf

*.pdf binary
*.doc binary
*.docx binary
*.odt binary
*.pptx binary
*.xlsx binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.svg binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.zip binary
